<!-- <div class="grid grid-cols-12 w-full">
  <div
    class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-2 bg-red-500 h-[5rem] px-2 py-1"
  ></div>
  <div
    class="col-span-12 sm:col-span-6 md:col-span-2 lg:col-span-2 bg-green-500 h-[5rem] px-2 py-1"
  ></div>
  <div
    class="col-span-12 sm:col-span-6 md:col-span-2 lg:col-span-2 bg-blue-500 h-[5rem] px-2 py-1"
  ></div>
  <div
    class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-6 bg-slate-200 h-[5rem] px-2 py-1 flex justify-end space-x-5"
  >
    <button
      pButton
      pRipple
      class="p-button-success p-button-sm"
      label="Hello"
      icon="pi pi-times"
    ></button>
    <button
      pButton
      pRipple
      class="p-button-warning p-button-sm"
      label="Hello"
      icon="pi pi-times"
    ></button>
    <button
      pButton
      pRipple
      class="p-button-danger p-button-sm"
      label="Hello"
      icon="pi pi-times"
    ></button>
  </div>
</div> -->

<div class="flex justify-center items-center">
  <div class="container py-5">
    <p class="font-bold text-xl text-blue-800 mt-10">ข่าวประชาสัมพันธ์</p>
    <div class="px-4 py-3 flex justify-end">
      <button
        pButton
        pRipple
        type="button"
        label="เพิ่มข่าว"
        class="p-button-raised p-button-info p-button-sm"
        style="background: #14b8a6; border: none"
        icon="pi pi-plus-circle"
      ></button>
    </div>
    <p class="font-bold text-lg text-blue-800 ml-10 mb-10">
      รายการข่าวประชาสัมพันธ์
    </p>
    <p-table
      [value]="newList"
      responsiveLayout="scroll"
      styleClass="p-datatable-sm"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="w-[10%]"></th>
          <th class="w-[10%]"><p class="text-center">ลำดับ</p></th>
          <th class="w-[30%]"><p class="text-center">ชือเรื่อง</p></th>
          <th class="w-[30%]"><p class="text-center">วันที</p></th>
          <th class="w-[20%]"><p class="text-center">จัดการ</p></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-new>
        <tr>
          <td>
            <p-inputSwitch
              [ngModel]="!!new.Status ? true : false"
              (onChange)="onChangeStatus($event, new.NewsId)"
            ></p-inputSwitch>
          </td>
          <td>
            <p class="text-center">{{ new.NewsId }}</p>
          </td>
          <td>
            <p class="text-start">{{ new.NameNews }}</p>
          </td>
          <td>
            <p class="text-center">
              {{ new.UpdatedDate | date: "dd/MM/YYYY" }}
            </p>
          </td>
          <td>
            <div class="flex justify-center space-x-4">
              <button
                pButton
                pRipple
                type="button"
                class="p-button-raised p-button-info p-button-sm p-button-rounded"
                icon="pi pi-book"
                (click)="showDialog(new)"
                [disabled]="new.ButtonView === 0"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                class="p-button-raised p-button-warning p-button-sm p-button-rounded"
                icon="pi pi-pencil"
                [disabled]="new.ButtonEdit === 0"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                class="p-button-raised p-button-danger p-button-sm p-button-rounded"
                icon="pi pi-trash"
                [disabled]="new.ButtonDelete === 0"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-new>
        <tr>
          <td colspan="4">
            <p class="font-semibold text-2xl text-center">No Data</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Title"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '40vw' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <ng-container *ngIf="dataViewState">
    <ng-template pTemplate="header">รายละเอียดข่าวประชาสัมพันธ์</ng-template>
  <div class="mt-3 space-x-4 field">
    <span class="text-blue-900 font-semibold"
      >ชื่อเรื่อง<span class="text-red-500 ml-1">*</span></span
    >
    <input type="text" pInputText class="p-inputtext-sm w-[80%]" [disabled]="true" [value]="dataViewState.NameNews"/>
  </div>
  <div class="mt-3 space-x-6 field flex items-center">
    <span class="text-blue-900 font-semibold"
      >เนื้อหา<span class="text-red-500 ml-1">*</span></span
    >
    <textarea pInputTextarea class="w-[80%]" [disabled]="true" [value]="dataViewState.Detail"></textarea>
  </div>
  <div class="mt-3 space-x-7 field flex items-center">
    <span class="text-blue-900 font-semibold">สถานะ</span>
    <p-inputSwitch
              [ngModel]="!!dataViewState.Status ? true : false"
              (onChange)="onChangeStatus($event, dataViewState.NewsId)"
            ></p-inputSwitch>
  </div>
  </ng-container>
  <ng-template pTemplate="footer">
    <div class="flex justify-center">
      <p-button (click)="display= false" label="ปิด" Class="p-button-raised p-button-sm p-button-success" [style]="{ width: '8rem'}"></p-button>

    </div>
</ng-template>
</p-dialog>
